[Unit]
Description=Run Nextcloud Sync Capiture every 5 minutes
Requires=nextcloud-sync-capiture.service

[Timer]
Unit=nextcloud-sync-capiture.service
OnUnitInactiveSec=5m
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target
