[Unit]
Description=Run Nextcloud Sync Capiture every minute
Requires=nextcloud-sync-capiture.service

[Timer]
Unit=nextcloud-sync-capiture.service
OnUnitInactiveSec=1m
AccuracySec=1s

[Install]
WantedBy=timers.target
